@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    body {
        @apply bg-background text-zinc-100;
    }
}

/* Custom scrollbar for sidebar */
::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #334155;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background: #475569;
}